{% extends 'layout.html' %} {% block content %} {% if name %} {% if palette %}
<style>
  body {
    background: {{ palette.LightMuted.getHex() }};
    color: {{ palette.DarkMuted.getHex() }};
  }
</style>
{% endif %}

<div style="max-width: {{ image.width }}px">
  <div class="cover">
    <img src="{{ image.url }}" />
  </div>
</div>
<div class="page">
  <h1>{{ name }}</h1>
  <h2>{{ artist }}</h2>
  {% if lyrics %}
  <article class="lyrics">{{ lyrics }}</article>
  {% else %}
  <p class="no-lyrics">Could not find lyrics!</p>
  {% endif %}
</div>
{% else %}
<div class="page">
  Doesn't look like anything is playing!
</div>
{% endif %} {% endblock %}
